# Các thư viện cần có để huấn luyện mô hình 
pandas 
numpy 
matplotlib.pyplot
seaborn
pickle
# Các thư viện cần có để chạy FastAPI
fastapi 
uvicorn
pydantic
pickle
pandas
# Các thư viện cần có để chạy Streamlit 
streamlit 
requests
pandas
