# Các thư viện cần có để huấn luyện mô hình 
pandas 
numpy 
matplotlib.pyplot
seaborn
pickle
# Các thư viện cần có để chạy FastAPI
fastapi 
uvicorn
pydantic
pickle
pandas
# Các thư viện cần có để chạy Streamlit 
streamlit 
requests
pandas
# Các thư viện cần có để khám phá dữ liệu
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from termcolor import colored

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from scipy.stats import shapiro
